.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.imgdiv{
  height: 400;
  width: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.img{
  width: 50%;
  border-radius: 10%;
}

.btn{
  border: none;
  border-radius: 10%;
  width: 10rem;
  height: 2rem;
  background-color: bisque;
  cursor: pointer;
}

.btn-div{
  display: flex;
  gap: 1rem;

}